.react-aria-Table.cmsui-table {
  --plone-table-cell-border-bottom: 1px solid var(--quanta-smoke);
  --plone-table-header-border-bottom: 2px solid var(--quanta-silver);
  width: 100%;
  border-radius: 0;

  .react-aria-Row {
    border-bottom: none;
  }

  .react-aria-Column[data-key$='occurrences'],
  .react-aria-Cell[data-key$=':occurrences'] {
    text-align: right;
  }
}

.react-aria-ModalOverlay .rename-modal,
.react-aria-ModalOverlay .confirm-modal {
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  background-color: #fff;

  .react-aria-Radio-wrapper {
    display: flex;
  }
}
