#page-keyword_manager {
  display: flex;
  flex-direction: column;
  gap: 15px;

  .title {
    padding: 20px 15px;
    border-bottom: 2px solid;
    border-image: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0.2) 0%,
        #0e0e0e 14%,
        #565656 84%,
        rgba(102, 102, 102, 0.2) 100%
      )
      1;
    color: #4e4e4e;
  }

  .description {
    padding: 30px;
    border-radius: 6px;
    background: #e6e6e6;
    color: #4e4e4e;
  }

  button {
    border: none;
    background: none;
  }

  * h2,
  p {
    margin: 0;
  }

  .react-aria-Select > button {
    border: 1px solid #000;
  }

  .react-aria-Button[data-pressed] {
    box-shadow: none;
  }

  .table-heading {
    display: flex;
    justify-content: space-between;
    > div {
      display: flex;
      align-items: center;
      gap: 30px;

      button {
        cursor: pointer;

        &:disabled {
          cursor: default;
        }
      }
    }
  }

  .react-aria-Table.cmsui-table {
    width: 100%;
    border-collapse: collapse;

    .react-aria-TableHeader {
      background: #f6f3f3;
    }

    .react-aria-Column,
    .react-aria-Cell {
      height: 36px;
      padding: 0 10px;
      border: 1px solid #000;

      &[role='columnheader'],
      &[data-key$=':actions'],
      &[data-key$=':type'],
      &[data-key$=':state'] {
        white-space: nowrap;

        > div {
          display: flex;
          gap: 10px;

          a {
            /* this is to center the eye icon in the actions column */
            height: 20px;
          }
        }
      }

      .react-aria-Checkbox {
        padding: 4px 8px;

        .checkbox {
          border: 2px solid #1d1d1d;
        }
      }

      button {
        padding: 0;
        cursor: pointer;
      }

      * svg {
        color: #000;
      }

      /* border-radius on first/last cell clips the rows background in google-chrome */
      &:first-child,
      &:last-child {
        border-radius: 0;
      }
    }

    .react-aria-Row[data-selected] {
      /* fix for background overlapping the border in firefox */
      position: unset;
      background: #bbc2e9;
      clip-path: none;
      color: #000;
      transform: none;
    }

    .react-aria-Cell[data-key$=':keyword'],
    .react-aria-Cell[data-key$=':title'] {
      width: 100%;
    }

    .react-aria-Cell[data-key$=':occurrence'] {
      text-align: right;
    }
  }
}

.react-aria-ModalOverlay .rename-modal,
.react-aria-ModalOverlay .delete-modal,
.react-aria-ModalOverlay .keyword-modal {
  display: flex;
  width: 100%;
  max-width: 1070px;
  flex-direction: column;
  border: 1px solid #1d1d1d;
  border-radius: 8px;
  background-color: #fff;
  gap: 20px;

  * h2,
  * p {
    margin: 0;
  }

  .react-aria-Dialog {
    padding: 0;
  }

  .react-aria-Radio-wrapper {
    display: flex;

    .react-aria-Radio {
      padding-right: 10px;
    }

    .react-aria-Select,
    .react-aria-TextField {
      width: 100%;
      max-width: 400px;

      .react-aria-Label {
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }

      .react-aria-Button,
      .react-aria-Input {
        width: 100%;
        padding: 8px;
        border: 1px solid #1d1d1d;
        border-radius: 0;
        border-top: 3px solid #1d1d1d;

        &:disabled {
          border: 1px solid rgba(29, 29, 29, 0.6);
          border-top: 3px solid rgba(29, 29, 29, 0.6);
          background: #f0f0f0;
        }
      }
    }
  }

  .modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 20px;
    border-radius: 8px 8px 0 0;
    border-bottom: 1px solid #1d1d1d;
    background: #e6e6e6;

    button {
      border: 0;
      background: none;
    }
  }

  .modal-body {
    padding: 0 20px;
  }

  .modal-actions {
    padding: 20px;
    padding-top: 0;
  }
}
